.container {
    /* margin-bottom: 20px; */
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .userCard {
    text-align: center;
    background-color: lightgray;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .userCard:hover {
    transform: translateY(-2px);
  }
  
  .cardContent {
    padding: 24px;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    margin-bottom: 16px;
    object-fit: cover;
  }
  
  .userName {
    margin: 0 0 8px;
  }
  
  .cardActions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .userCard:hover .cardActions {
    opacity: 1;
  }
  
  .actionButton_edit{
    color: blue !important;
    border: none;
    padding: 8px;
    height: auto;
  }

  .actionButton_delete {
    color: red !important;
    border: none;
    padding: 8px;
    height: auto;
  }
  
  .actionButton:hover {
    background: rgba(255, 255, 255, 0.1) !important;
  }
  
  .tableAvatar {
    width: 40px;
    border-radius: 50%;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  